- content_for :title do
  Contest

- content_for :middle do
  %br
  %br
  .featurebox
    %h2.center
      Stories of Resilience
    %h3.center
      Writing Contest
    %div{style: 'margin-top: 20px;'}
      In recognition of October as Domestic Violence Awareness Month, you are
      invited to add your voice to <i>Stories of Resilience</i>. The contest is seeking
      submissions that reflect the broad impact of abuse. Contribute your story,
      personal essay or poem for consideration.
      %hr
      %ul{style: 'list-style: disc; margin: 20px 10%;'}
        %li
          Entries can include stories, personal essays and poems.
        %li
          Multiple entries are welcome.
        %li
          Please submit to: #{link_to 'ourstoryproject.org', 'http://www.ourstoryproject.org'}.
          %br
          Subject line should read: “Contest Submission”.
        %li
          Name and valid email are required. If you prefer not to use your
          name, you may provide a pseudonym. Your email address will
          not be made public and will only be used to communicate with
          you about the contest.
        %li
          Entries will be accepted until October 6, 2014.
        %li
          Prizes:
          %br
          First Prize - $500
          %br
          Two Second Prizes - $100 each
        %li
          All entrants will be notified of the results by October 6, 2014.
        %li
          Winners will be published in <i>Hope Grows Here, Volume II</i>.
          Additional entries may also be selected for publication.
        %li
          We reserve the right to edit or excerpt for publication.
        %li
          We are interested in a wide range of submissions, from very
          brief to a maximum of 1,500 words.
        %li
          Survivors, friends, family, coworkers, neighbors, children – all
          perspectives on the effects of domestic abuse are welcome.
        %li
          We retain first rights to publication in our book; all rights then
          revert to the author.
        %li
          Submissions may also be submitted to: <br>
          .center
            Family Shelter Service <br>
            605 E. Roosevelt Road <br>
            Wheaton, IL 60187
