= content_for :caption do
  #caption
    %h2
      Family Shelter Service
      %div stories of struggle and resilience

= content_for :featurebox do
  %h3
    Welcome to Our Story Project
  %p
    A place where those who have been impacted by domestic violence
    can have their say, often after long silence. By sharing their
    stories, our writers have an opportunity to be heard, and
    others can learn and understand.
    %br
  %div.center
    %span.button
      = link_to "Read a Story", random_story_path