- content_for :title do
  Writing Tips

- content_for :middle do
  %br
  %br
  .featurebox{:style => "padding: 20px 70px; "}
    %h2 Writing Tips
    %p
      Everyone who has been affected by domestic abuse has a story. But those stories often go untold because secrecy, fear, shame and a host of other reasons interfere.
    %p Our Story Project is a safe place to share those stories.
    %p Please share yours, and return to read others'. Together we can witness the trauma, and the resilience and healing that can follow.
    %p If you need help getting started, you could begin by responding to one of these prompts:

    %ul.center
      %li I remember....
      %li The thing I wish I'd known is....
      %li What I know for sure is...
    %p Or send a story of your own design. We will edit submissions for length and privacy.
    %p.center 605 E. Roosevelt Road, Wheaton, IL 60197