// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 18px;  // default font-size for YUI fonts

$base-line-height: 24px;  // default line-height for YUI fonts

$font-color: #444;

$link-color: #607890;
$nav-link-color: #f6f6f6;

$link-hover-color: #036;
$nav-link-hover-color: #3B74B2;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text
$default-border-radius: 7px;

$white: #f6f6f6;
$black: #222;
$grey: #757679;
$light-grey: $grey + #666;
$blue: #1699d3;
$green: #7fbd52;
$red: #DD5555;
$orange: #FFA900;

$list-left-margin: 2em;  // left margin for ul an ol

@import "susy";

// Grid ----------------------------------------------------------------------

$total-columns          : 12;
$column-width           : 5em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;

$outer-container-width: columns-width() + ($column-width * 2);