.middle {
  min-height: 16em;
  .featurebox {
	margin-top: 30px;
    @include opacity(.95);
    @include clearfix;
  }
}

#buy_journal_button {
  display: inline;
  margin-right: 3em;
  padding: 0px 15px 7px 15px;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  @include single-box-shadow(#000066, 0px, -5px, 10px, 0, true);
  border: 1px solid #666;
  border-top: none;
  z-index: 1000;
  @include border-radius(0 0 7px 7px);
  float: right;
  @include bg-rgba(100,100,255,0.1);
  a { color: darken($white, 10%);
    z-index: 100;}
  a:hover { color: darken($white, 30%); }
}

// RESOURCES

ul.resources {
  width: 75%;
  margin: 0 auto;
  li {
    padding: 25px;
    border: 1px solid #ccc;
    @include border-radius;
    &:hover {
	  background: #ddd;
	a { text-decoration: underline; }
    }
  }
}

.tagline {
  margin: 0 0 0 5em;
  color: #777;
}


#caption {
  position: absolute;
  top: 9.5em;
  padding: 10px 4%;
  @include bg-rgba(255,255,255,0.6);
  @include border-radius;
  z-index: 100;
  //@include opacity(.9);
  h2 {
    color: $black;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: normal;
    div { color: lighten($black, 10%); }
  }
  &.new, &.index, &.show {
    //left: 30px;
    margin-left: 46px;
    width: 8em;
    text-align: center;
    top: 11em;
    background: darken($white, 5%);
    border: 1px solid #666;
    @include opacity(.95);
  }
  &.show {
    top: 15.5em;
    h2 {
      font-variant: small-caps;
    }
  }
}

#signed-in-user {
  font-size: .7em;
  width: auto;
  background: #f0f0f0;
  @include border-radius(0 0 7px 7px);
  padding: 3px 15px;
  border: 1px solid #666;
  border-top: none;
  position: absolute;
  left: 60%;
  top: 0px;
  @include opacity(.9);
}
#flash {
  position: absolute;
  top: -17px;
  left: 10%;
  font-size: .8em;
  .notice {
    @include border-radius(0 0 7px 7px);
    padding: 6px 15px;
    border: 1px solid $green;
    border-top: none;
    @include bg-rgba(245,255,245,0.9);
    color: $green;
  }
  .error {
    @include border-radius(0 0 7px 7px);
    padding: 6px 15px;
    border: 1px solid $red;
    border-top: none;
    @include bg-rgba(255,245,245,0.9);
    color: $red;
  }
}

.fsbanner {
  @extend .featurebox;
  padding: 0px;
}

.grid {
 // @include susy-grid-background;
}
.float-left { float: left; }
.float-right {float: right;}
