.footer
  %nav
    %ul.topnav
      %li
        %span
          Copyright © 2012
          = "-"
          = link_to "Family Shelter Service", "http://familyshelterservice.org"
      %li
        %span
          605 East Roosevelt Road, Wheaton, IL
      %li
        %span
          (630) 221-8290